---
layout: layouts/layout.njk
title: 404
type: error
relative_path: .
eleventyExcludeFromCollections: true
permalink: /pt/404.html
---
<section id="error-404">
<h1 id="error-title">404 - Página Não Encontrada</h1>
<p id="error-message">Ops, esta página não existe!</p>
<p><a id="error-link" href="/pt/">Voltar para o início</a></p>
</section>
