---
title: Início
layout: layouts/layout.njk
---
<h1>Sobre Mim</h1>
      <p>
      Olá! Meu nome é Ellian Carlos. Sou um engenheiro de software brasileiro, estudante de matemática e sistemas de informação. Também sou marido de uma esposa amorosa e filho de pais amorosos!
      </p>
      <p>
      Sou Engenheiro de Desenvolvimento de Software na Amazon e tenho bacharelado em Sistemas de Informação pelo ICMC, um instituto da Universidade de São Paulo.
      Meu papel vai além da codificação; sou um Solucionador de Problemas e Professor, a maior parte do meu trabalho é desambiguar problemas, remover bloqueios e permitir que soluções técnicas tomem forma.
      Escrevo muitos documentos para capacitar líderes e S-teams de nossas equipes de engenharia, operar em um nível de excelência e impactar a experiência do cliente.
      </p>
      <p>
      Amo idiomas, tanto humanos quanto de computador. Atualmente, estou trabalhando com Kotlin, TypeScript, Python e outros. Estou estudando arquitetura, escalabilidade e programação funcional. Quero aprender Rust algum dia! Também sei um pouco de C/C++.
      Sobre os idiomas humanos, sou fluente em Português e Inglês. Estou aprendendo Espanhol e Japonês e quero aprender Mandarim e Alemão algum dia.
      Além das linguagens com as quais trabalho, também uso AWS, Docker, SQL e outras ferramentas.
      </p>
      <p>
      Não posso enfatizar o quanto gosto de estudar, adoro mergulhar em detalhes técnicos e me perder em representações matemáticas do mundo e dos computadores.
      Sou curioso sobre quase tudo, também não tenho um tipo específico de aprendizado, gosto de coisas práticas ou teóricas, leituras, palestras ou projetos práticos, tudo é válido.
      </p>
      <p> 
      Atualmente estou me candidatando a Mestrados em uma Área Computacional e preferiria tópicos altamente conectados à matemática ou engenharia de software.
      </p>
    <h3> Minhas Crenças </h3>
      <p> 
      Acredito que o mundo é construído por pessoas e para pessoas. Acredito que toda educação e conhecimento devem ser gratuitos para todos e com igualdade de oportunidades de acesso.
      Também acredito que todos somos guardiões do mundo e de nós mesmos e devemos honrar isso.
      </p>
      <p>
      Como Engenheiro de Software, acredito que temos um impacto indireto no mundo através das aplicações que construímos e dos recursos que usamos.
      Isso implica uma responsabilidade de ser frugal com recursos energéticos e fornecer acessibilidade como obrigação em todas as nossas aplicações.
      </p>
      <p>
      Se você quiser conhecer minhas ferramentas, opiniões e outros tópicos que gosto de discutir, pode <a href="/pt/posts" class="button">Ler meu Blog!</a>.
      </p>
