---
layout: layouts/layout.njk
title: 404
type: error
relative_path: .
eleventyExcludeFromCollections: true
permalink: /ja/404.html
---
<section id="error-404">
<h1 id="error-title">404 - ページが見つかりません</h1>
<p id="error-message">このページは存在しません！</p>
<p><a id="error-link" href="/ja/">ホームに戻る</a></p>
</section>
