---
title: ホーム
seoTitle: Ellian Carlos
description: Amazonのブラジル人ソフトウェアエンジニア、USPコンピュータサイエンス修士課程候補生、言語と問題解決に情熱を持つ。
layout: layouts/layout.njk
---
<h1>私について</h1>
      <p>
      こんにちは！👋 私の名前はEllian Carlosです。私はブラジルのソフトウェアエンジニアで、USPのコンピュータサイエンス修士課程候補生です。また、愛する妻の夫であり、愛する両親の息子でもあります！
      </p>
      <p>
      私はAmazonのソフトウェア開発エンジニアで、サンパウロ大学の研究所であるICMCで情報システムの学士号を取得しています。
      私の役割はコーディングを超えています。私は問題解決者であり教師です。私の仕事の大部分は、問題を明確にし、障害を取り除き、技術的なソリューションを形成することです。
      エンジニアリングチームのリーダーシップとSチームを支援し、優秀なレベルで運営し、顧客体験に影響を与えるために多くのドキュメントを書いています。
      </p>
      <p>
      私は言語が大好きです、人間の言語もコンピュータの言語も。現在、Kotlin、TypeScript、Pythonなどで作業しています。アーキテクチャ、スケーラビリティ、関数型プログラミングを勉強しています。継続的にRustを学んでいます！C/C++も少し知っています。
      人間の言語については、ポルトガル語と英語が流暢です。スペイン語と日本語を学んでおり、いつか中国語とドイツ語を学びたいです。
      作業している言語以外にも、AWS、Docker、SQLなどのツールを使用しています。
      </p>
      <p>
      勉強がどれほど好きかを強調できません。技術的な詳細に深く潜り、世界とコンピュータの数学的表現に没頭するのが大好きです。
      ほぼすべてのことに好奇心があり、特定のタイプの学習はありません。実用的なものも理論的なものも、読書、講義、実践的なプロジェクト、すべてが有効です。
      </p>
      <p> 
      また、教えることも大好きです。私の旅路で出会った素晴らしい先生方がいなければ、良い学生にはなれなかったでしょう。
      私が考えるに、私の主な使命の一つは、教えることで、またはイノベーションと興奮が新しい人々の学習の旅を導く環境を作ることで、他のエンジニアを育成することです。
      </p>
    <h3>現在</h3>
    <p>
    私はオープンソース開発に焦点を当てた修士号を取得中で、Rustとシステムアーキテクチャおよびデザインの専門知識を深めています。Amazonでは、会社のグローバル展開を可能にする政府コンプライアンスソリューションに貢献しています。また、開発ワークフローと問題解決アプローチを強化するためのエージェントAIの可能性を探求しています。
    </p>
    <h3> 私の信念 </h3>
      <p> 
      世界は人々によって、人々のために構築されていると信じています。すべての教育と知識は、すべての人に無料で、平等なアクセス機会とともに提供されるべきだと信じています。
      また、私たちは皆、世界と自分自身の守護者であり、それを尊重すべきだと信じています。
      </p>
      <p>
      ソフトウェアエンジニアとして、私たちが構築するアプリケーションと使用するリソースを通じて世界に間接的な影響を与えていると信じています。
      これは、エネルギー資源を節約し、すべてのアプリケーションでアクセシビリティを必須として提供する責任を意味します。
      </p>
      <p>
      私のツール、意見、その他議論したいトピックを知りたい場合は、<a href="/ja/posts" class="button">私のブログを読んでください！</a>。
      </p>
