<footer class="container">
    <p>Social: 
      <a class="social" target="_blank" rel="noreferrer noopener" href="https://www.github.com/elliancarlos">github</a>; 
      <a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/in/elliancarlos">linkedin</a>
    </p>
    <p>This page was inspired by 
      <a target="_blank" rel="noreferrer noopener" href="https://m7.rs/">misterio's page</a>; 
    </p>
    <p>Copyleft <a class="secondary" href="https://www.elliancarlos.com.br">elliancarlos</a></p>
</footer>
