<footer>
    <div class="container">
      <hr>
      <small> 
        <p>{{ i18n[locale].footer.social }} 
          <a class="social" target="_blank" rel="noreferrer noopener" href="https://www.github.com/elliancarlos">github</a>; 
          <a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/in/elliancarlos">linkedin</a>;
          <a target="_blank" rel="me noreferrer noopener" href="https://www.mastodon.social/@elliancarlos">Mastodon</a>;
        </p>
        <p>{{ i18n[locale].footer.inspired }} 
          <a target="_blank" rel="noreferrer noopener" href="https://m7.rs/">misterio's page</a>; 
        </p>
        <p>
          {{ i18n[locale].footer.copyleft }} 
          <a href="https://www.elliancarlos.com.br">elliancarlos</a> 
          (
            <a href="https://www.github.com/elliancarlos/elliancarlos.github.io"> 
              {{ i18n[locale].footer.sourceCode }}
            </a> 
          )</p>
      </small>
    </div>
</footer>
