<header>
  <div class="container">
    <h1 class="title">
      <span class="contrast">➜</span> 
      <span class="primary">~</span>
      <a href="/" class="maintitle">
        <div class="maintitle">
          elliancarlos 
        </div>
      </a>
    </h1>
    <nav>
        <ul>
            <li><a href="/">aboutme</a></li>
            <li><a href="/Ellian_Carlos_Resume.pdf">resume</a></li>
            <li><a href="http://lattes.cnpq.br/3423853440338718">academic cv</a></li>
            <li><a href="/posts">blog</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </nav>
  </div>
</header>
