<header class="container-fluid">
    <h1 class="title"><a  class="title" href="/">elliancarlos</a></h1>
    <nav>
        <ul>
            <li><a href="/aboutme">aboutme</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </nav>
</header>