---
relative_path: '.'
type: index 
---
<!DOCTYPE html>
<html data-theme="dark" lang="en">

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
  <title>elliancarlos</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
  <link 
      rel="stylesheet"
      href="{{relative_path}}/styles/style.css"
      >
  {% if type == "blog" %}
    <link rel="stylesheet" href="{{relative_path}}/styles/blog.css">
  {% endif %}
</head>
<body style="min-height: 100%;">
    {% include "header.html" %}
    <main class="container page">
        {{ content | safe }}
    </main>
    {% include "footer.html" %}
</body>
</html>
