---
layout: layouts/layout.njk
title: 404
type: error
relative_path: .
eleventyExcludeFromCollections: true
permalink: /es/404.html
---
<section id="error-404">
<h1 id="error-title">404 - Página No Encontrada</h1>
<p id="error-message">¡Ups, esta página no existe!</p>
<p><a id="error-link" href="/es/">Volver al inicio</a></p>
</section>
