---
title: Contacto
layout: layouts/layout.njk
---
<h1>{{ i18n[locale].contact.title }}</h1>

<h2>{{ i18n[locale].contact.email }}</h2>
<p>
    No dudes en contactarme por correo electrónico: <a href="mailto:elliancarlos@example.com">elliancarlos@example.com</a>
</p>

<h2>{{ i18n[locale].contact.social }}</h2>
<ul>
    <li><a href="https://www.github.com/elliancarlos" target="_blank" rel="noreferrer noopener">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/elliancarlos" target="_blank" rel="noreferrer noopener">LinkedIn</a></li>
    <li><a href="https://www.mastodon.social/@elliancarlos" target="_blank" rel="me noreferrer noopener">Mastodon</a></li>
</ul>
