---
title: Inicio
seoTitle: Ellian Carlos
description: Ingeniero de software brasileño en Amazon, candidato a maestría en ciencias de la computación y sistemas de información, apasionado por los idiomas y la resolución de problemas.
layout: layouts/layout.njk
---
<h1>Sobre Mí</h1>
      <p>
      ¡Hola! 👋 Mi nombre es Ellian Carlos. Soy un ingeniero de software brasileño y candidato a maestría en ciencias de la computación en la USP. ¡También soy esposo de una esposa amorosa e hijo de padres amorosos!
      </p>
      <p>
      Soy Ingeniero de Desarrollo de Software en Amazon y tengo una licenciatura en Sistemas de Información en el ICMC, un instituto de la Universidad de São Paulo.
      Mi rol va más allá de la codificación; soy un Solucionador de Problemas y Maestro, la mayor parte de mi trabajo es desambiguar problemas, eliminar bloqueos y permitir que las soluciones técnicas tomen forma.
      Escribo muchos documentos para habilitar a los líderes y S-teams de nuestros equipos de ingeniería, operar en un nivel de excelencia e impactar la experiencia del cliente.
      </p>
      <p>
      Amo los idiomas, tanto humanos como de computadora. Actualmente, estoy trabajando con Kotlin, TypeScript, Python y otros. Estoy estudiando arquitectura, escalabilidad y programación funcional. ¡Estoy aprendiendo Rust continuamente! También sé algo de C/C++.
      Sobre los idiomas humanos, soy fluente en Portugués e Inglés. Estoy aprendiendo Español y Japonés y quiero aprender Mandarín y Alemán algún día.
      Además de los lenguajes con los que trabajo, también uso AWS, Docker, SQL y otras herramientas.
      </p>
      <p>
      No puedo enfatizar cuánto me gusta estudiar, me encanta sumergirme en detalles técnicos y perderme en representaciones matemáticas del mundo y las computadoras.
      Soy curioso sobre casi todo, tampoco tengo un tipo específico de aprendizaje, me gustan las cosas prácticas o teóricas, lecturas, conferencias o proyectos prácticos, todo es válido.
      </p>
      <p> 
      También me encanta enseñar, nunca hubiera sido un buen estudiante si no fuera por los increíbles profesores que tuve en mi camino.
      Como lo veo, una de mis principales misiones es formar a otros ingenieros, ya sea enseñando o creando un ambiente donde la innovación y el entusiasmo puedan guiar a nuevas personas en su viaje de aprendizaje.
      </p>
    <h3>Actualmente</h3>
    <p>
    Estoy cursando mi maestría con un enfoque en desarrollo de código abierto, mientras profundizo mi experiencia en Rust y arquitectura y diseño de sistemas. En Amazon, estoy contribuyendo a soluciones de governmental compliance que permiten la expansión global de la compañía. También estoy explorando el potencial de la IA agéntica para mejorar los flujos de trabajo de desarrollo y los enfoques de resolución de problemas.
    </p>
    <h3> Mis Creencias </h3>
      <p> 
      Creo que el mundo está construido por personas y para personas. Creo que toda educación y conocimiento deben ser gratuitos para todos y con igualdad de oportunidades de acceso.
      También creo que todos somos guardianes del mundo y de nosotros mismos y debemos honrar eso.
      </p>
      <p>
      Como Ingeniero de Software, creo que tenemos un impacto indirecto en el mundo a través de las aplicaciones que construimos y los recursos que usamos.
      Esto implica una responsabilidad de ser frugal con los recursos energéticos y proporcionar accesibilidad como obligación en todas nuestras aplicaciones.
      </p>
      <p>
      Si quieres conocer mis herramientas, opiniones y otros temas que me gusta discutir, puedes <a href="/es/posts" class="button">¡Leer mi Blog!</a>.
      </p>
